@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(2px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(2.5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.cartCount {
  div {
    transition: transform 0.2s ease-out;
  }
  --indicator-translate-y: -50%;
}

.bounce {
  --indicator-translate-y: -100% !important;
}

.cartIcon {
  transition: stroke 0.25s ease-out;
}

.shake {
  animation: shake 0.5s ease-in-out;
}
